doctype html
head
    title Flash Card

    link(rel="stylesheet" href="/public/css/style.css")
body
    //- header
    //-     h2 Flash to Card
    //- block content
    //- footer
    //-     p Copyleft People Here
    include header
    block content
    include footer